.chefs-section {
    text-align: center;
    padding: 10px;
    background-image: url(../../../../public/images/chefs-bg.jpg);
    background-size: cover;
    height: 90vh;
    opacity: 1;
    background-attachment: fixed;
    h2{
        font-family: satisfy;
    }
    .sub-chefs {
        z-index: 9999;
    }
    .sub-chefs-1{
        .sub-chef-liv{
            .imag-chefs{
            .chefs-background{
                display: flex;
                align-items: center;
                justify-content: center;
                }
            }
        }
    }
}
@media (max-width: 425px){
    .sub-chefs-1{
        display: flex;
        flex-direction:column!important;
    }
}