.sec-3{
    padding-top: 50px;
    // text-align: center;
    display: flex;
    // gap: 50px;
    // justify-content: space-around;
    padding: 30px;
    background-color: #f4f4f4fd;
    justify-content: center;
    gap: 30px;
    // box-shadow: 10px 10px 10px;
    h4 span{
        color: red;
    }
    .left-side{
        // color: aqua;
        .liv-4{
            // color: red;
            padding-bottom: 20px;
            padding-top: 20px;
        .liv-4 img{
            padding-bottom: 20px;
        }
            .liv-5{
                padding-top: 20px;
                // background-color: red;
                width:33%;
                border: solid black 2px;
                padding-top: 10px;
                line-height: 10px;
                text-align: center;
                width: 100%;
            }
        }
    }
    i{
        color: red;
    }
}
.font{
    font-family: Saad;
}