.sec-5{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    // background-color: #ff0000;
    background-image: url("../../../../public/images/stats-bg.jpg");
    z-index:1;
}