.section-4 {
    text-align: center;
    padding:10px;
}
.Subsection-4 {
    display: flex;
    text-align: center;
    // background-color: red;
    gap: 20px;
}
.sub-child {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 10px 10px 10px #f7efe0;
    border-radius: 10px;
    transition: 0.5s;
    h4 {
        transition: 0.5s;
    }
    h5{
        transition: 0.5s;
    }
    p {
        transition: 0.5s;
    }
}
.sub-child:hover{
    background-color:#ffa012;
    color: white;

}
.sub-child:hover h4{
    transform: translatey(-7px);
}
.sub-child:hover h5 {
    transform: translateY(-5px);
}
.sub-child:hover p {
    transform:translateY(-3px);
}
@media (max-width: 428px){
    .Subsection-4{
        display: flex;
        flex-direction: column;
    }
}
