.section-3 {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color:#fffaf3;
    padding: 20px;
}
.icon-check {
    font-size: 20px;
    color: #ffa012;

}
.div-check {
    font-weight: 500;
}