
.section-14 {
    padding: 10px;
    background-color:#FFF8F3;
    padding-top: 10px;
    padding-bottom: 20px;
    .sect-14{
        display: flex;
        flex-direction: column;
        .sec-14{
            display: flex;
            gap: 10px;
            .sub-14{
                display: flex;
                gap: 10px;
            }
        }
    }
}
@media (max-width: 425px){
    .sub-14 {
        display: flex;
        flex-direction: column !important;
        
        
    }
}